h1 {
    text-align: center;
    color: #ddc958;
}

*{
    background-color: #586bdd;
    color: #ddc958;
    font-family: 'Courier New', Courier, monospace;
}

.links{

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
    color: #ddc958;

}

h2, h3{

    color: #dd58ae;

}

img, #sanji{
 
    border-radius: 66%;

}

#sanji{
    width: 55vw;
    min-width: 330px;
    
}